{% load static %}
{% load crud_views %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Demo{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    {% cv_const_js %}
    {% cv_css %}
</head>
<body>

<h1>Django CRUD Views Demo</h1>
<hr>

<nav>
    <a href="/">Home</a> |
    <a href="{% url "author-list" %}">Authors</a>
    &nbsp;&nbsp;
    {% if request.user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post" style="display:inline">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
</nav>
<hr>

{% if messages %}
    <ul>
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    <hr>
{% endif %}

{% block body %}{% endblock %}

</body>
</html>
